@CHARSET "UTF-8";
/*
 * Programmer: SangHyun Park
 */
html, body{
	background: url("images/home_background.jpg");
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    background-size: cover;  
    background-position: center;  
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body,html {
  margin:0;
  padding:0;
}

#menubar-id{ 
    margin-left: 0px;
    text-align: center;
    background-color: #0c234b;
 	margin: 0px;
    height: 60px;
    
}

.menubar-class{
	background-color: #0c234b;
	vertical-align: center;
	
}

.menubar-class li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.menubar-class li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-family: helvetica, arial, times;
}

#menu_logo{
	height: 50px;
	float:left;
	margin-top: 3px;
	margin-left: 25px;
}

.login{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 50px;
}

.personal{
	width: 843px;
	height: 550px;
	background-color: rgba(12,35,75,0.7);
	display: inline-block;
	text-transform: uppercase;
	font-family: helvetica, arial, times;
	font-size: 14px;
	color: white;
	padding: 25px;
}

.box {
    clear: both;
    float: left;
    background: rgba(12,35,75,0.0);  /* #0c234b */
    height: 50px;
    width: 107px;
}

#menubar_space{
	padding: 5px;
}

#login_space{
	padding: 30px;
}

#login{
	display: inline-block;
    list-style-type: none;
    text-decoration: none;
    font-family: helvetica, arial, times;
    background-color: #98012E; /* Delta Red */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#complete, #reset{
    float:right;
    border: none;
    background-color: #98012E;
    color: white;
    padding: 10px 30px; 
    text-align: center;
    margin-left: 15px;
    margin-top: 40px;
    font-size: 16px;
}

#complete{
	margin-right: 20px;
}

#birth_date{
	width: 125px;
	font-family: helvetica;
}

#gender_drop, #country_drop{
	width: 160px;
	font-family: helvetica;
}

#user_name, #password, #first_name, #middle_name, #last_name{
    float:left;
    padding: 10px; 
    text-align: left;
    margin-left: 5px;
}

#birth_day, #gender, #state, #country, #address, #city, #postCode, #phoneNumber, #email{
    float:left;
    padding: 10px; 
    text-align: left;
    margin-left: 5px;
}

#information_header{
    background-color: #98012E;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#information_sub1{
    background-color: #98012E;
    clear:both;
    float: left;
    text-align: center;
    padding: 15px 20px 15px 20px;
    margin: 0em 0em 1em 0em;
}

#information_sub2{
    background-color: #98012E;
    clear:both;
    float: left;
    text-align: center;
    padding: 15px 10px 15px 10px;
    margin: 0em 0em 1em 0em;
}